// spacing
$spacing: 1rem;

// media
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// colors
$primary-black: #323232;
$secondary-white: #fafafa;
$light-blue: #0095ff;
$dark-blue: #0065ff;
$silver-dark: #afafaf;
$silver-light: #e1e1e1;

