@use './partials/variables' as *;
@use './partials/mixins' as *;

@include whole-document-rules;


html {
  font-family: Arial, Verdana, Georgia, sans-serif;
}

body {
  max-width: 910px;
  margin: auto;
  padding: 0 1rem;
}
