*,
* ::after,
* ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Verdana, Georgia, sans-serif;
}

body {
  max-width: 910px;
  margin: auto;
  padding: 0 1rem;
}
