.card {
  border-radius: 5px;
  border: 2px solid gray;
  background-color: white;
  text-align: center;
  margin: 1rem 0;
  width: 32%;
  min-width: 276px;

  &:hover {
    cursor: pointer;
    background-color: black;
    border: 2px solid black;
    color: white;
  }
}
