@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.card {
  border-radius: 5px;
  border: 2px solid gray;
  background-color: white;
  text-align: center;
  margin: $spacing 0;
  width: 100%;
  // min-width: 276px;

  @include tablet {
  width: 32%;
  }

  &:hover {
    cursor: pointer;
    background-color: black;
    border: 2px solid black;
    color: white;
  }
}
